<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="My Word List" />
    <meta property="og:description" content="The popular word list" />
    <meta
      property="og:image"
      content="{{url_for('static', filename='logo_red.png')}}"
    />

    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='favico.ico')}}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{url_for('static', filename='favico.ico')}}"
      type="image/x-icon"
    />

    <title>Personal Wordlist</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='mystyle.css') }}"
    />

    <script>
      // {% if msg %}
      //   alert("{{ msg }}")
      // {% endif %}
      let words = {{ words | tojson }};
      let word_list = [];
      for (let i = 0; i < words.length; i++) {
        word_list.push(words[i].word)
      }


      function find_word() {
        let word = $('#input-word').val().toLowerCase().trim();
        if (!word) {
          alert('Please type a word');
          return;
        }
        if (word_list.includes(word)) {
          let row = $(`#word-${word}`);
          row.addClass('highlight');
          row.siblings().removeClass('highlight');
          row[0].scrollIntoView();
        } else {
          window.location.href = `/detail/${word}?status_give=new`;
        }
      }
    </script>
  </head>
  <body>
    <div class="wrap">
      <div class="banner" onclick="window.location.href = '/';"></div>

      <div class="search-box d-flex justify-content-center">
        <input
          id="input-word"
          class="form-control"
          style="margin-right: 0.5rem"
        />
        <!-- tombol search jika ditekan akan langsung mengaktifkan function find_word() yang mana akan mengarahkan ke /detail, jika status_give=new -->
        <button class="btn btn-light" onclick="find_word()">SEARCH</button>
      </div>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="width: 30%">WORD</th>
            <th scope="col">DEFINITION</th>
          </tr>
        </thead>
        <tbody id="tbody-box">
          {% for word in words %} {% set definition = word.definition %} {% set
          word = word.word %}

          <tr id="word-{{word}}">
            <td><a href="/detail/{{ word }}?status_give=old">{{ word }}</a></td>
            <td>{{ definition }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="/detail/example" class="nav-link px-2 text-muted"
            >Detail Page</a
          >
        </li>
      </ul>
      <p class="text-center text-muted">© 2023 rkhawariz, Inc</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>